<%- model_class = DogBreed -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table class="table table-hover table-datatable">
  <thead>
    <tr>

      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th>Dog Breed Group</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>

    </tr>
  </thead>

  <tbody>
    <% @dog_breeds.each do |dog_breed| %>
      <tr>
        <td><%= dog_breed.id %></td>
        <td><%= link_to dog_breed.name, dog_breed_path(dog_breed) %></td>
        <td><%= dog_breed.dog_breed_group == nil ? "N/A" : dog_breed.dog_breed_group.name %></td>
        <td>
          <%= edit_item_btn(model_class, edit_dog_breed_path(dog_breed)) %>
          <%= delete_item_btn(model_class, dog_breed_path(dog_breed)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= add_item_btn(model_class, new_dog_breed_path) %>
