<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog_breed.name %>
</p>

<p>
  <strong>Dog breed group:</strong>
  <%= @dog_breed.dog_breed_group %>
</p>

<%= link_to 'Edit', edit_dog_breed_path(@dog_breed) %> |
<%= link_to 'Back', dog_breeds_path %>
