<%- model_class = Judge -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:number) %></th>
      <th><%= model_class.human_attribute_name(:country) %></th>
      <th><%= model_class.human_attribute_name(:street) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:state) %></th>
      <th><%= model_class.human_attribute_name(:zip) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @judges.each do |judge| %>
      <tr>
        <td><%= judge.id %></td>
        <td><%= judge.first_name %></td>
        <td><%= judge.last_name %></td>
        <td><%= judge.number %></td>
        <td><%= judge.country == nil ? "N/A" : judge.country.name %></td>
        <td><%= judge.street %></td>
        <td><%= judge.city %></td>
        <td><%= judge.state == nil ? "N/A" : judge.state.name %></td>
        <td><%= judge.zip %></td>
        <td>
          <%= edit_item_btn(model_class, edit_judge_path(judge)) %>
          <%= delete_item_btn(model_class, judge_path(judge)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= add_item_btn(model_class, new_judge_path) %>
