<%= form_for @dog_breed_group, :html => { role: 'form', :class => 'form-horizontal' } do |f| %>
  <% if @dog_breed_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dog_breed_group.errors.count, "error") %> prohibited this Dog Breed Group from being saved:</h2>

      <ul>
        <% @dog_breed_group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control required' %>
  </div>

  <div class="form-group">
    <%= f.submit nil, :class => 'btn btn-primary', 'value'=>'Update' %> or
    <%= link_to 'Cancel', dog_breed_groups_path %>
  </div>
<% end %>
