<% content_for :content do %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <br/>
      <ul class="nav nav-pills nav-stacked">
        <li class="<%= 'active' if current_page?(user_root_path)%>"><%= link_to 'Dashboard', user_root_path%></li>
        <li><a href="#">Dogs</a></li>
        <% if current_user.has_role? :admin %>
          <h4>Admin</h4>
          <li class="<%= is_active?('dog_breed_groups') %>"><%= link_to 'Dog Breed Groups', dog_breed_groups_path%></li>
          <li class="<%= is_active?('dog_breeds') %>"><%= link_to 'Dog Breeds', dog_breeds_path%></li>
          <li class="<%= is_active?('countries') %>"><%= link_to 'Countries', countries_path%></li>
          <li class="<%= is_active?('states') %>"><%= link_to 'States', states_path%></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-offset-1 col-md-9">
      <p id="notice"><%= notice %></p>
    <%= content_for?(:session_content) ? yield(:session_content) : yield %>
<% end %>
    </div>
  </div>
</div>
<%= render template: "layouts/application" %>

